.idea/*
.idea*
*coverage*
*node_modules*
*~
rendered*
output*
generated*
registeredUtility.json
.DS_Store
server.pid
server.std*log
\#*
build
modules
bower_components
src/results/lib/jquery.min.js
npm-debug.log
pkg-config*
